/* #F9E8B4
#E5AE6B
#B66A4D
#492D29
#071031
#F9DC79
#FBD97F */

.logoHeader {
    display: flex;
    margin-left: 1em;
    width: auto;
    height: 5em;
    transition: transform 1s;
  }
  
  .logoHeader:hover {
    transform: translatey(-10px);
  }
  
  .headerNav {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 5px 7px #f3b61fff;
    height: 6.5em;
    text-align: center;
    width: 101%;
    position: sticky;
    top: 0;
    background-color: #FBD97F;
    background-position: center;
    background-size: 150vw;
    /* background-repeat: no-repeat, repeat, no-repeat; */
  }
  